# IntelliJ/Android Studio
.idea
.DS_Store
*.iml
.kotlin
captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle
**/build/
!src/**/build/

# Firebase (Sensitive Files - DO NOT COMMIT)
androidApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist

# Kotlin Multiplatform / iOS
**/*.kexe
**/*.klib
**/*.konan
**/iosApp/Pods/
**/iosApp/.swiftpm/
.konan/
shared.xcframework/
*.xcframework/
*.framework/
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Others
node_modules/
web/node_modules/
.DS_Store
